@import '../../App.scss';
ul {
  li {
    list-style: none;
  }
}

footer {
  width: 100%;
  height: 50vh;
  color: black;
  .footer-container {
    width: 100%;
    .footer-image {
      width: 100%;
      img {
        margin: 0 auto;
        display: block;
      }
    }
    .footer-items {
      color: black;
    }
  }
}
